body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: #999;
}

span {
  margin-left: 105px;
}

h5 {
  margin-bottom: auto;
}

button {
  display: contents;
  color: #999;
}

button:hover {
  cursor: pointer;
}

.parent {
  column-gap: 10px;
  margin: 340px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.child {
  box-shadow: 0px 1px 1px #393939;
  border-radius: 10px;
  padding: 10px;
  height: 130px;
  width: 220px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: minmax(1px, auto);
  grid-template-areas:
  " a b b "
  " a b b "
  " . b b "
  " c c c ";
}

.child:hover {
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #e7e7e7;
}

.imagery {
  display: flex;
  width: 50px;
  align-self: center;
  grid-area: a;
}

.text {
  grid-area: b;
}

.link {
  grid-area: c;
  align-self: center;
}

.child2 {
  box-shadow: 0px 1px 1px #393939;
  border-radius: 10px;
  padding: 10px;
  height: 130px;
  width: 220px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: minmax(1px, auto);
  grid-template-areas:
  " a b b "
  " a b b "
  " . b b "
  " c c c ";
}

.child2:hover {
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #e7e7e7;
}

.imagery {
  display: flex;
  width: 50px;
  align-self: center;
  grid-area: a;
}

.text {
  grid-area: b;
}

.link {
  grid-area: c;
  align-self: center;
}

.child3 {
  box-shadow: 0px 1px 1px #393939;
  border-radius: 10px;
  padding: 10px;
  height: 130px;
  width: 220px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: minmax(1px, auto);
  grid-template-areas:
  " a b b "
  " a b b "
  " . b b "
  " c c c ";
}

.child3:hover {
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #e7e7e7;
}

.imagery {
  display: flex;
  width: 50px;
  align-self: center;
  grid-area: a;
}

.text {
  grid-area: b;
}

.link {
  grid-area: c;
  align-self: center;
}

@media (max-width: 768px) {
  .parent {
    row-gap: 10px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
}